name: Build Installer

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v*'  # Запускается при пуше тегов вида v1.0.0
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Compile Inno Setup Script
      uses: Minionguyjpro/Inno-Setup-Action@v1.2.4
      with:
        path: installer.iss
        options: /O+
    
    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: hero_siege_ru_installer.exe
        draft: false
        prerelease: false
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
